
RewriteEngine on
RewriteCond %{HTTP_HOST} ^dhanty\.ibrahimker\.id$ [OR]
RewriteCond %{HTTP_HOST} ^www\.dhanty\.ibrahimker\.id$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/.+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "https\:\/\/dhanty\.ibrahimker\.id\/" [R=301,L]

